*{margin: 0;
box-sizing: border-box;
transition: 0.4s;
font-family: "Montserrat", sans-serif;}

#barranaveg{ width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 90px 1fr;
}

#menu{
    width: 90px;
    height: 100%;
    position: fixed;
    width: 90px;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    
   
}

#btnmenu
{
    width: 100%;
    height: 90px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
    
}
#redessociais
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 100%;
}

svg
{
    margin-bottom: 50px;
}

#linhabrancas
{
    height: 24px;
    width: 30px;
   border-top: #fff 4px solid;
   border-bottom: #fff 4px solid;
     display: flex;
    justify-content: center;
    align-items: center;
    
}

#linhabrancas2
{
   
    width: 30px;
   border-top: #fff 4px solid;
   
}
#check1
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
opacity: 0;
cursor: pointer;
z-index: 999;
   
}

#aba
{
    position: fixed;
    width: 270px;
    height: 100vh;
    left: -280px;
    top: 0;
    box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: 0.3s;
    z-index: 99;
    
}

#check1:checked~#aba
{
   position: fixed; 
   left: 0;
}

#btnfechar
{
   
    width: 90px;
    height: 90px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #0f0f0f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
}

#seta
{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

#Logo
{
   
    background-color: #2916e0;
    width: 180px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linhalogo
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    background-color: #2916e0;
    align-items: center;
}

#linhameiomenu
{
    width: 100%;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menupag
{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #b2b2b2;
    text-decoration: none;
    margin-top: 4vh;
}

#menupagazul
{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #2916e0;
    text-decoration: none;
    margin-top: 4vh;
}

#redessociaismenu
{
  margin-top: 8vh;
  display: flex;
  justify-content: space-around;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 2vh;

}

.iconesredes
{
    fill: #b2b2b2;   
    margin: 0;
}

#txt1
{
    font-size: 15px;
    color: #636363;
    line-height: 1.8;
    
    text-align: center;
}

body{ display: grid;
height: 100vh;
grid-template-columns: 90px 1fr;}





#camaleao{ background-image: url(imagens/5.jpg.webp);
    flex-grow: 7;
    order: -1;}

#mulher{ background-image: url(imagens/1.jpg.webp);}
#cachorro{ background-image: url(imagens/2.jpg.webp);}
#mar{ background-image: url(imagens/3.jpg.webp);}
#carro{ background-image: url(imagens/4.jpg.webp);}

#slideimagens{ display: flex;}

.item-img{ flex-grow: 1;
background-size: cover;
background-position: center;
position: relative;
overflow: hidden;}

.item-img:hover {flex-grow: 7;}

.item-img:hover~#camaleao {flex-grow: 1;}

.item-img:hover~#camaleao:hover {flex-grow: 7;}

.texto{ position: absolute;
text-wrap: nowrap;
color: white;
bottom: 25%;
left: 5%;
opacity: 0;
font-size: 40px;}

.item-img:hover .texto {opacity: 1;
bottom: 5%;}

#autor{ font-size: 25px;}